# Arquivos de ambiente
.env

# Arquivos temporarios do Windows
*.log
*.tmp
~$*
# github
*.txt
# Cache do PowerShell
*.pssc
*.psm1_disabled

# .NET / C# Build
bin/
obj/
*.user
*.suo

# Agentes vscode
/.agent
/.vscode
